.hidden {
  display: none
}

.add-point {
  color:green;
}

.reset-points {
  color: red;
}

.normal-points {
  color: black;
  transition: 2s;
}

#west:hover, #east:hover, button {
  cursor: pointer;
}

#quote-border {
  border: solid 1px black;
}

#loading{
  width: 150px;
  height: 150px;
}

#attribution {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {  
  .correct {
    transform: scale(1.25);
    transition: .5s;
    transition-timing-function: ease;
  }
  
  .normal {
    transform: scale(1);
    transition: .3s;
    transition-timing-function: ease;
  }
  
  .wrong {
    transform: scale(0.75);
    transition: .5s;
    transition-timing-function: ease;
  }
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #west {
    width: 40%;
    height: 400px;
  }

  #west-image {
    transform: scaleX(-1)
  }

  #quote-box {
    justify-content: center;
    width: 20%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .name {
    margin-top: 0;
    font-size: 25px;
  }

  #quote {
    margin: 40px;
  }

  #east {
    width: 40%;
    height: 400px;
  }

  img {
    height: 100%
  }

  #next-quote {
    background-color: black;
    color: beige;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
  }

  #full-attrib {
    align-self: flex-end;
    margin-right: 15px
  }

  h2 {
    margin: 0px
  }

  button {
    font-family: 'Roboto Condensed', sans-serif;
  }

  #score {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
  }
}

@media screen and (max-width: 599px) {
  body {
      margin-top: 1%;
      text-align: center;
      background-color: beige;
      }

  h1 {
    font-size: 15vw;
  }

  h5 {
    font-size: 3vw;
  }

  .navlink {
    padding: 2vw;
    font-size: 5vw;
  }

  #west {
    position: absolute;
    bottom: 0vw;
    left: 0vw
  }

  #east {
    position: absolute;
    bottom: 0vw;
    right: 0vw
  }

  #east img {
    transform: scaleX(-1);
  }

  img {
    width: 50vw;
  }

  #west .name {
    position: absolute;
    left: 4vw;
    bottom: 42vw;
    font-size: 6vw;
  }

  #east .name {
    position: absolute;
    right: 4vw;
    bottom: 42vw;
    font-size: 6vw;
  }

  #quote-box {
    margin-top: 30px;
    position: relative;
  }

  #quote-border {
    height: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #quote {
    font-size: 3vh;
  }

  #full-attrib {
    font-size: 4vw;
  }

  #score {
    margin: 5px;
    font-size: 5vw;
  }

  button {
    font-size: 4vw;
  }

  #next-quote {
    background-color: black;
    color: beige;
    align-self: center;
    border-radius: 10px;
    padding: 5px;
    z-index: 10;
  }
}
