@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    margin-top: 1%;
    text-align: center;
    background-color: beige;
    }

h1 {
  font-size: 15vw;
}

h5 {
  font-size: 3vw;
}

.navlink {
  padding: 2vw;
  font-size: 5vw;
}

#west {
  position: absolute;
  bottom: -3vw;
  left: -33vw
}

#east {
  position: absolute;
  bottom: -3vw;
  right: -33vw
}

#east img {
  transform: scaleX(-1);
}

img {
  width: 85vw;
}

#west .name {
  position: absolute;
  left: 34vw;
  bottom: 74vw;
  font-size: 6vw;
}

#east .name {
  position: absolute;
  right: 34vw;
  bottom: 74vw;
  font-size: 6vw;
}
