body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
}

.devs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.each-dev {
  margin: 15px;
}

.linkedin, .github {
  width: 25px;
  height: 25px;
}

.linkedin {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;
}

a {
  padding: 10px;
}

.twitterlink {
  text-decoration: none;
  color: black; 
  font-weight: bold;
}

.description {
  width: 600px;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 20px;
}

@media (max-width: 700px) {
  .description {
    width: 75%;
  }
}