@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 1%;
    text-align: center;
    background-color: beige;
    }

h1 {
    font-family: 'Caveat', cursive;
    font-size: 85px;
    margin-bottom: 0;
    padding: 0;
    margin-top: 5px;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 3%;
    padding: 0;
}

.navlink {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    margin: 30px;
    color: black; 
    font-weight: bold;
    padding: 0;
}

.navlink:hover {
    color: grey;
}

.selection-area {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.source-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.text-bubble {
    background-size: cover;
    background: url(./assets/cloud.png);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-bubble {
    line-height: 1.2em;
    width: 400px;
}

#loading{
    width: 200px;
    height: 200px;
}

input:checked + .radio-image {
    border: 1px dashed black;
    padding: 1px;
    border-radius: 25%;
}

input:hover + .radio-image {
    cursor: pointer;
}

.radio-image {
    margin: 0px 10px;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    padding: 1px;
    border-radius: 25%;
}

#question {
    padding: 25px 30px;
}

input {
    display: none;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
    font-size: 12px;
}

.back-to-top {
    width: 30px;
    height: 30px; 
    display: none;
}

@media (max-width: 960px) {
    .back-to-top {
        position: fixed;
        bottom: 10px;
        left: 5%;
        display: block;
    }
}